<!DOCTYPE html>
<html lang="en">
<head>
  <title>Clinica</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
  </style>
</head>
<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Clinica</h1>      
    <p>About</p>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">Clinica</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Home</a></li>
        <li><a href="/freesurfer">FreeSurfer</a></li>
        <li><a href="/rotate">Rotate</a></li>
        <li><a href="/nifti">Nifti</a></li>
        <li><a href="/register">Register</a></li>
        <li class="active"><a href="/train">Train</a></li>
      </ul>
    </div>
  </div>
</nav>


<form action="/convertor6" method="post" enctype="multipart/form-data">

    <label for="model">Model for training:</label>
    <input id="model" type="text" name="model" value="ADNINetwork">

    <br>
    <br>

    <label for="optimizer">Optimizer from Pytorch:</label>
    <input id="optimizer" type="text" name="optimizer" value="sgd">

    <br>
    <br>

    <label for="learning_rate">Learning rate for optimizer:</label>
    <input id="learning_rate" type="number" step="0.0000001" name="learning_rate" value="0.001">

    <br>
    <br>

    <label for="train_bs">Training batch size:</label>
    <input id="train_bs" type="number" name="train_bs" value="2">

    <br>
    <br>

    <label for="val_bs">Validation/Testing batch size:</label>
    <input id="val_bs" type="number" name="val_bs" value="2">

    <br>
    <br>

    <label for="train_epochs">Number of epochs to train for:</label>
    <input id="train_epochs" type="number" name="train_epochs" value="10">

    <br>
    <br>

    <label for="split_ratio">Ratio to split dataset between training and testing:</label>
    <input id="split_ratio" type="number" step="0.0000001" name="split_ratio" value="0.8">

    <br>
    <br>

    <label for="num_workers">Number of workers for dataloading:</label>
    <input id="num_workers" type="number" name="num_workers" value="0">

    <br>
    <br>

    <label for="input-folder-2">Upload CAPS data folder</label>    
    <input id="input-folder-2" type="file" name="CAPS" webkitdirectory multiple required>

    <br>

    <button type="submit" class="btn btn-info"> Train </button>

</form>

</body>
</html>